* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html{
	font-family: 'Lato';
	font-size: 62.5%; /*10px equiv*/
	font-weight: 400;
	line-height: 1.5;
	background-color: #f0f0f0;
}

	body{
		font-size: 1.3rem;
	}

        @media (min-width: 500px){
            body{
                font-size: 1.6rem;
            }
        }

		@media (min-width: 900px){
			body{
				font-size: 1.4rem;
			}
		}

        @media (min-width: 1000px){
            body{
                font-size: 1.5rem;
            }
        }

/**
 * Clearfix
 */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/**
 * Wrapper
 */

.wrapper{
	margin: 0 auto;
	width: 85%;
	max-width: 1000px;
}

/**
 * site header
 */

.site-header{
	background-image: linear-gradient( to top right, #246a99, #242342);
	background-color: #246a99;
	padding: 7.5rem 0;
}
	@media (min-width: 900px){
		.site-header{
			padding: 15rem 0;
		}
	}

	.logo{
		width: 40%;
		margin: 0 auto;
	}

		.logo__img{
			width: 100%;
			margin-bottom: 2rem;
		}

		.logo__strapline{
			text-align: center;
			color: white;
			font-size: 1.5rem;
			font-weight: 300;
			font-family: 'Lato';
		}

    		@media (min-width: 900px){
    			.logo__strapline{
    				font-size: 3rem;
    			}
    		}

/**
 * Basic Grid
 */

.grid{
	margin-left: -2.4rem;
	margin-top: -6rem;
}

.grid__item{
	display: block;
	float: left;
	padding-left: 2.4rem;
}

	.grid__item--1-1{
		width: 100%;
	}

		@media (min-width: 900px){
			.grid__item--1-1--m{
				width: 100%;
			}
		}

	.grid__item--1-2{
		width: 40%;
	}

		@media (min-width: 900px){
			.grid__item--1-2--m{
				width: 50%;
			}
		}

/**
 * Content Boxes
 */

.content-box{
	background: white;
	box-shadow: 0 0 1rem 0 rgba(0,0,0,0.5);
	margin-bottom: 2.4rem;
}
	@media (min-width: 900px){
		.content-box{
			height: 38rem;
		}
	}


	.content-box__title{
		background: #3b51a3;
		color: white;
		padding: 1.5rem 2.25rem;
		font-size: 2.4rem;
		font-weight: 300;
	}

		@media (min-width: 900px){
			.content-box__title{
				padding: 3rem 2.25rem;
			}
		}

	.content-box__text,
    .content-box__list{
		padding: 2.4rem;
	}

    .content-box__list{
		margin: 0;
		list-style: none;
    }

		.content-box__phone{
			font-weight: bold;
            float: right;
		}

		.content-box__logo{
			padding: 1rem 0 0.5rem 0;
            max-width: 10rem;
		}

